.logo {
	width: 18%;
	height: 8%;
}

body {
	background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-color: blue;
  padding-left: 6%;
  padding-right: 6%;
}

nav {
  width: 100%;
  padding: 40px 0px;
  display: flex;
  align-items: center;
}

.logo {
  flex: 1;
}

.logo i {
  width: 170px;
  cursor: pointer;
}

.logosocial{
  margin-left: 40 px;
}

button {
  padding: 15px 40px;
  border: 0;
  outline: none;
  border-radius: 25px;
  background: #000;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.pages
{
  margin-left: auto;
/*  margin-right: auto;*/
}

.row {
  display: flex;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.col-1,
.col-2 {
  flex-basis: 50%;
  overflow: hidden;
}

.col-2 img {
  width: 104%;
}

.col-1 {
  padding: 8% 5%;
  position: relative;
  background-color: black;
}

.col-1 h1 {
  font-size: 50px;
  line-height: 90px;
  letter-spacing: 1px;
  color: blue;
  font-family: 'Bebas Neue', sans-serif;;
  text-align: center;
}

.col-1 p {
  color: #777;
  line-height: 22px;
  margin: 15px 0px 30px;
}

.col-2{
  background-color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 15px 40px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.bluebutton{
  background-color: blue;
}

.headlogo{
  align-items: center;
}